#page-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/about-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    min-height: 40vh;
    /* viewpoint for exampl if the screen size is 1080px then 1 vh is 10.8px */

    
    text-align: center;
}

#page-banner h1{
    margin-top: 60px;
    font-size: 52px;
}

#page-banner .btn{
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 11px;
}

/*  Experience */
.exp-grid{
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 24px;
    padding: 40px;
    background-color: var(--color-bg-2);
    align-items: center;
    margin-bottom: 24px ;
}
.exp-grid .exp-date{
    display: inline;
    background-color: var(--color-brand);
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 700;
}